.inactive{
  color: white;
  text-decoration: none;
}

nav {
  padding: 10px;
  display: flex;
  background-color: #806044;
}

nav .links a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

nav .links span {
  margin-left: 1rem;
  font-weight: bold;
  color: white;
}

.cart {
  position: absolute; 
  top: 17px; 
  right: 18px; 
  display: flex;
  align-items: center;
}